body {
  font-family: Arial;
  background: #0a192f;
  color: white;
  text-align: center;
}

.card {
  background: #112240;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 10px;
  width: 100%;
  background: #00c8ff;
  border: none;
  cursor: pointer;
}